body {
    font-family: $sans-serif !important;
    background-color: $--mainWhite !important;
    color: $--mainDark !important;
}

.text-title {
    font-family: $cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: $--mainBlue;
}

.text-bright {
    color: $--lightBlue;
}
