// Main Color
$--mainBlue: #2a2a72;
$--lightBlue: #009ffd;
$--mainWhite: #f3f3f3;
$--mainDark: #232528;
$--mainYellow: #ffa400;

// font-family
$sans-serif: "Oswald", sans-serif;
$cursive: "Fredericka the Great", cursive;
